body {
    background-color: #997300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.Homelist li {
    list-style: none;
    text-align: center;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 5px #4f3806);
}

h1 {
    border-style: outset;
    border-radius: 25px;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #d9d9d9;
}


li {
    text-align: left;
}

h3 {
    text-align: left;
    text-decoration-line: underline;
}